@model Resume.Models.ResumeMain

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Resume</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="ResName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResName" class="form-control" />
                <span asp-validation-for="ResName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Descr" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Descr" class="form-control" />
                <span asp-validation-for="Descr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResDate" class="form-control" />
                <span asp-validation-for="ResDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MyName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MyName" class="form-control" />
                <span asp-validation-for="MyName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Objective" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Objective" class="form-control" />
                <span asp-validation-for="Objective" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Summary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
